.Main {
  width: 1000px;
  height: 1000px;
}

.btns {
  display: flex;
}

.btn {
  border: none;
  border-radius: 12px;
  height: 80px;
}

.btn:hover {
  background-color: #dcdcdc;
  border: none;
}

.start-btn {
  width: 200px;
}

.min30-btn,
.min60-btn {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
