@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
}

.Pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff7e5;
}

.Header .title {
  width: 1000px;
  height: 60px;
  background: #e5e5e5;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  border-radius: 12px;
  margin-top: 50px;
}
