.clock-control-btn-comp {
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.clock-control-btn-comp .clicked {
  background-color: lightgray;
}

.btn {
  border: none;
  border-radius: 12px;
  font-size: 30px;
  outline: none;
  background-color: #e8e8e8;
  cursor: pointer;
}

.btn:hover {
  background-color: lightgray;
}

.btn img {
  width: 60px;
}

.start-btn {
  width: 300px;
}

.min30-btn,
.min60-btn {
  width: 90px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-btn,
.pause-btn {
  width: 300px;
}

.reset-btn {
  width: 190px;
}

@media screen and (max-width: 1010px) {
  .clock-control-btn-comp {
    height: 70px;
    margin-bottom: 2.5%;
  }

  .clock-control-btn-comp .start-btn {
    width: 100%;
  }

  .clock-control-btn-comp .min30-btn,
  .min60-btn {
    width: auto;
    margin-left: 2.5%;
  }

  .clock-control-btn-comp .resume-btn,
  .pause-btn {
    width: calc(100% - 140px - 5%);
  }

  .clock-control-btn-comp .reset-btn {
    width: calc(140px + 2.5%);
  }
}
