.interaction-comp {
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.interaction-comp .task-input {
  width: 300px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  background-color: #e5e5e5;
  border: none;
  border-radius: 12px;
}

.interaction-comp .task-input:focus {
  border: none;
  outline: none;
}

.interaction-comp .is-started {
  cursor: not-allowed;
}

.speaker-btn {
  width: 90px;
  height: 100%;
  background-color: #e5e5e5;
}

.record-btn {
  width: 90px;
  height: 100%;
  background-color: #e5e5e5;
  cursor: not-allowed;
}
