.main-comp {
  display: flex;
  justify-content: space-between;
  width: 1010px;
  height: 700px;
}

.main-comp .clock-and-interaction-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.main-comp .task-list-and-record-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}
