.record-comp {
  width: 100%;
  height: 190px;
  background-color: #e8e8e8;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.record-comp .record-container {
  display: flex;
  width: 450px;
  height: 140px;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
}

.record-comp .month-container {
  width: 133px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.record-comp .month-title {
  height: 18px;
  margin-bottom: 3px;
}

.record-comp .month-days {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.record-comp .month-calendar {
  height: 112px;
  display: flex;
  flex-direction: column;
}

.record-comp .calendar-row {
  display: flex;
  justify-content: space-between;
}

.record-comp .calendar-blank {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.record-comp .calendar-date {
  width: 12px;
  height: 12px;
  background: #c0c0c0;
  border-radius: 3px;
  margin-bottom: 5px;
}

.record-comp .border {
  width: 1px;
  height: 100%;
  background-color: lightgray;
}

.record-comp .mode-1 {
  background-color: #ff8585;
}

.record-comp .mode-2 {
  background-color: #ff7a7a;
}

.record-comp .mode-3 {
  background-color: #ff7070;
}

.record-comp .mode-4 {
  background-color: #ff6b6b;
}

.record-comp .mode-5 {
  background-color: #ff6161;
}

.record-comp .mode-6 {
  background-color: #ff5757;
}

.record-comp .mode-7 {
  background-color: #ff4d4d;
}

.record-comp .mode-8 {
  background-color: #ff4747;
}

.record-comp .mode-9 {
  background-color: #ff3d3d;
}

.record-comp .mode-10 {
  background-color: #ff3333;
}

.record-comp .mode-11 {
  background-color: #ff2929;
}

.record-comp .mode-12 {
  background-color: #ff1f1f;
}

.record-comp .mode-13 {
  background-color: #ff1a1a;
}

.record-comp .mode-14 {
  background-color: #ff0f0f;
}

.record-comp .mode-15 {
  background-color: #ff0505;
}
