.TaskInput {
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.TaskInput .input {
  width: 300px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  background-color: #e5e5e5;
  border: none;
  border-radius: 12px;
}

.TaskInput .input:focus {
  border: none;
  outline: none;
}

.TaskInput .isStarted {
  cursor: not-allowed;
}

.SpeakerBtn {
  width: 90px;
  height: 100%;
  background-color: #e5e5e5;
}

.RecordBtn {
  width: 90px;
  height: 100%;
  background-color: #e5e5e5;
  cursor: not-allowed;
}
